<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>A passionate ecology student located on the Sunshine Coast, skilled in data analysis, programming and geospatial analysis.
        In my spare time I have undertaken a number of different self-led projects to develop my skills throught the course of my bacherlors,
          mainly focuising on R & Html programming, using geospatial tools such as ArcGIS and data analysis.
        </p>
      </div>
      <div class="col-lg-4">
        <p> Putting some placeholder text here 
        
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
